[submodule "core"]
	path = core
	url = https://github.com/uncellon/utoolbox-core
[submodule "timers"]
	path = timers
	url = https://github.com/uncellon/utoolbox-timers
[submodule "gpio"]
	path = gpio
	url = https://github.com/uncellon/utoolbox-gpio
[submodule "serialport"]
	path = serialport
	url = https://github.com/uncellon/utoolbox-serialport
[submodule "logger"]
	path = logger
	url = https://github.com/uncellon/utoolbox-logger
